<footer>
  <a href="/">munchwins</a> 
  (copyright) 
  <a href="https://github.com/kaylarr">kevin larrabee</a> 
  <%= Time.now.to_s.slice(0..6) %>

  <span class="float-right">view code on <a href="https://github.com/kaylarr/munchwins">github</a></span>
</footer>