<!DOCTYPE html>
<html>
  <head>
    <title>munchwins</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <%= erb :'layouts/header' %>
    <main>
      <%= yield %>
    </main>
    <%= erb :'layouts/footer' %>
  </body>
</html>