<header>
  munch<span id="login-w">w</span>ins
  <div class="header-logout inline float-right">
    <a href="/logout">
      <img src="<%= session[:pic] %>" class="inline" id="logout-pic">
    </a>
    log out
  </div>
</header>