<!DOCTYPE html>
<html>
  <head>
    <title>munchwins</title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <%= erb :'partials/header' %>
    <%= yield %>
    <%= erb :'partials/footer' %>
  </body>
</html>