<h1>munchwins</h1>

<% if session[:user] %>
  <h1>hi, <%= session[:username] %></h1>
  <a href="/logout">log out</a>
  <a href="/game">play!</a>

<% else %>
  <h1>who the feck ah ya?</h1>
  <a href="/login">login</a>

<% end %>