<h1>add players</h1>
<div class="player-add">
  <form action="/game/add" method="post">
    <fieldset>
      <label for="player[name]">Name</label>
      <input type="text" name="player[name]" placeholder="name" />
      <select name="player[gender]">
        <option value="male">male</option>
        <option value="female">female</option>
      </select>
      <input type="submit" value="add" />
    </fieldset>
  </form>
</div>
<div class="players">
  <% players.each do |player| %>
    <h1>
      <a href="/game/delete/<%= player.id %>">X</a>
      <%= player.name %>
    </h1>
  <% end %>
</div>
<div class="play-game">
  <a href="/game/play">play</a>
</div>