<h1>Create characters</h1>
<div class="character-add">
  <form action="/game/add" method="post">
    <fieldset>
      <label for="character_name">Name</label>
      <input type="text" name="character_name" placeholder="name" />
      <select name="character_gender">
        <option value="male">male</option>
        <option value="female">female</option>
      </select>
      <input type="submit" value="add" />
    </fieldset>
  </form>
</div>
<div class="characters">
  <% characters.each do |character| %>
    <a href="/game/delete/<%= character.id %>">X</a>
    <%= erb :'game/character', locals: {character: character} %>
  <% end %>
</div>